doctype html
html
    head(lang="pl")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width;initial-scale=1;shrink-to-fit=no")
        title="Pug Conditionals"
    body
    
        - var user = {description:'foo bar baz'}
        - var authorised = false
        
        #user
            if user.description
                h2.green Description
                p.description= user.description
            else if authorised
                p.description User has no description