doctype html
html
    head(lang="pl")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width;initial-scale=1;shrink-to-fit=no")
        title="Pug Includes"
        
        style(type="text/css")
            include ../public/style.css
    body
    
        include includes/head.pug