doctype html
html
    head(lang="pl")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width;initial-scale=1;shrink-to-fit=no")
        title="Pug Interpolation"
        
        style
            include ../public/style.css
    body
    
        - var content = '<span style="color:red;"> escape!</span>';
        - var foot = 'foot of a message';
        
        h1 enlore
        p This will be safe: !{content}
        p THis is a #{foot.toUpperCase()}
        
        
        div
        
            p This is #[strong very] long paragraph that is #[strong very] boring